@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* Section-2 */
.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 15px;
}
.section_2 .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;

}
.title {
  font-size: 40px;
  color: rgba(1, 53, 62, 1);
  line-height: 55px;
  letter-spacing: 0.6px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
.title span{
  position: relative;
}
.title span::after{
  content: "";
  height: 40px;
  width: 6px;
  position: absolute;
  background-color: #00B2A0;
  right: -15px;
  top: 15px;
  rotate: 30deg;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col {
  max-width: 480px;
  width: 100%;
  padding: 0 10px;
}
.col p{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: rgba(36, 33, 33, 1);
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.col:last-child{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:800px){
  .title{
    text-align: center;
  }
  .section_2 .row{
    flex-direction: column;
  }
  .section_2 .row .col{
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width:600px){
  .title {
    font-size: 35px;
    line-height: 35px;
  }
}

/* section 3 */
.section_3{
  background-color: rgba(248, 248, 248, 1);
  font-family: 'Roboto Condensed', sans-serif;

}
.section_3 .container{
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.col-4 {
  max-width: 350px;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
}
.col-4__title {
  font-size: 24px;
  color: rgba(36, 33, 33, 1);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}
.col-4__title img{
  margin-right: 10px;
}
.col-4__info {
  font-size: 14px;
  color: rgba(36, 33, 33, 1);
  font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width:800px){
  .section_3 .row{
    flex-direction: column;
  }
  .section_3 .row .col-4{
    max-width:500px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(36, 33, 33, 1);
  }
  .section_3 .row .col-4:last-child{
    border: none;
  }
}

.section_3 .row:last-child{
  margin-top: 50px;
}
.statistic {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statis{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.row .protsent{
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}
.statis .value{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}
.statis .value .img{
  max-width: 400px;
  width: 100%;
  padding: 5px;
  border: 1px solid #242121;
  border-radius: 5px;
  margin-top: 15px;
}
.statis:nth-child(1) .value .img .img__value{
  width: 75%;
  background-color: rgba(0, 178, 160, 1);
  height: 15px;
}
.statis:nth-child(2) .value .img .img__value{
  width: 85%;
  background-color: rgba(0, 178, 160, 1);
  height: 15px;
}
.statis:nth-child(3) .value .img .img__value{
  width: 98%;
  background-color: rgba(0, 178, 160, 1);
  height: 15px;
}
.statis .value p{
  font-size: 14px;
  margin-top: 5px;
}
.statistic__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  margin-left: 15px;
}
.statistic__info p{
  color: rgba(36, 33, 33, 1);
  font-size: 14px;
}

.statistic__info p:first-child{
  margin-bottom: 20px;
}
@media (max-width:800px){
  .section_3 .row:last-child{
    flex-direction: column;
    align-items: center;
  }
  .section_3 .statistic{
    max-width: 500px;
    margin-bottom: 30px;
  }
}


/* section-6 */
.section_6 {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
}
.section_6-info {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.section_6-info h2{
  font-size: 36px;
  color: #242121;
  line-height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  text-align: end;
}
.section_6-info span{
  font-size: 14px;
  line-height: 18px;
  color: #242121;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: end;
  font-style: italic;
}

/* section-8 */
.section_8{
  background-color: rgba(248, 248, 248, 1);
}
.section_8 .container{
  padding: 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_8 .col-4{
  background-color: rgba(255, 255, 255, 1);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}
.section_8 .col-4__title{
  color: rgba(1, 53, 62, 1);
  text-align: center;
  font-size: 36px;
}

.section_8 .col-4 li{
  font-size: 14px;
  font-weight: 400;
  color: rgba(36, 33, 33, 1);
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
}
.section_8 .col-4 ul{
  margin-bottom: 100px;
}
.section_8 .paket__value{
  font-size: 36px;
  color: rgba(1, 53, 62, 1);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
@media (max-width:800px){
  .section_8 .row{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .section_8 .row .col-4{
    max-width: 500px;
    margin: 0;
  }
}

/* section-9 */
.section_9{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.section_9 .map{
  padding: 0 15px;
}
.map img{
  width: 100%;
  object-fit: cover;
}